<h1>File Churn</h1>

<script src="/histogram.js"></script>
<script>
	redraw = function(error, data) {
		ChurnCharts.histogram(data)
	}
	$(document).ready(d3.json("/data/histogram.json", redraw));
</script>
  
<div id="chart-wrapper">
