<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<script src="/lib/jquery-1.9.1.min.js"></script>
		<script src="/lib/d3.v3.min.js"></script>
		<script src="/helper.js"></script>
	</head>
	<body>
	  <%= yield %>
	</body>
</html>
