<h1>Churn over time</h1>

<script src="timeline.js"></script>
<script>
	redraw = function(error, data) {
		ChurnCharts.timeline(data)
	}
	$(document).ready(d3.json("data.js", redraw));
</script>
  
<div id="chart-wrapper">
