<h1>Commit Timeline</h1>

<form method="get" action="#">
  <span class="formlabel">spacing: </span>
  <select id="sel-spacing" onclick="redraw()">
    <% [1, 2, 4, 6, 8, 10, 12, 16, 20, 30].each do |w| %>
      <option value="<%= w %>" <%= (w==8) ? "selected" : "" %>><%= w %> px</option>
    <% end %>
  </select>
</form>

<script src="/timeline.js"></script>
<script>
  var data;
  redraw = function(error, newData) {
    data = newData || data
    var spacing = parseInt($('#sel-spacing').find(":selected").text());
		ChurnCharts.timeline(data, spacing)
	}
	$(document).ready(d3.json("/data/timeline.json", redraw));
</script>
  
<div id="chart-wrapper">
